.Home {
  padding: 1em;
  height: 667px;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items:  center;
  height: 580px;
}

.top-image {
  height: 100%;
  flex: 1;
}
.Home--img {
  max-height: 100%;
}
.WakeOrWork {
  height: 62px;
}

.App--night .Home {
  background: url(/bg_top.png)
}
