.Home {
  padding: 1em;
  height: 100vh;
  margin-top: -80px;
}

.top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items:  center;
  height: 100vh;
  padding-bottom: 2em;
}

.top-image {
  flex: 1 0 auto;
  width: 85%;
}
.Home--img {
  max-height: 100%;
}
.WakeOrWork {
  flex: 0 0 62px;
}

.App--night .Home {
  background: url(/bg_top.png)
}
