.user-info {
  display: flex;
  flex-direction:   row;
  justify-content:  flex-start;
  align-items:      center;
  width: 100%;
  padding: 10px 0 10px 0;
  font-size: 14pt;
  color: black;
  background-color: white;
}
.user-info img {
  width: 80px;
  height: 80px;
  margin: 0 10px 0 10px;
}

.list-container {
  display: flex;
  flex-direction:   column;
  justify-content:  flex-start;
  align-items:      stretch;
  width: 100%;
}

.project-container {
  display: flex;
  flex-direction:   row;
  justify-content:  space-between;
  align-items:      center;
  width: 100%;
  padding:10px 0 10px 10px;
  border-top: 1px solid #4e557a;
}

.image-area {
  width: 60px;
}
.button-area {
  margin-right: 27px;
}
.image-area-joined {
  width: 90px;
  margin-left: -5px;
}
.button-area-joined {
  display: flex;
  flex-direction:   row;
  justify-content:  space-around;
  align-items:  center;
  width: 68px;
}
.icon-owner {
  width: 22px;
  height: 22px;
  margin: 0 4px 0 4px;
}
.image-project {
  width: 60px;
}
.icon-image-area {
  width:  28px;
  height: 28px;
}
.icon-arrow {
  width:  13px;
  height: 25px;
  padding: 0;
}

.label-valuation {
  color: #fff000;
  font-size: 14pt;
}
.detail-area {
  margin: 0 10px 0 10px;
  font-size: 11pt;
  flex: 1;
  color: #222;
}

.title {
  color: white;
}

.App--day .title {
  color: #222;
}
img { max-width: 100% }

.flex-create-project {
  display: flex;
  flex-direction:   row;
  justify-content:  flex-end;
  align-items:      stretch;
}

#create-project {
  width: 90px;
  height: 90px;
  margin-left: auto;
}

.abstract {
  font-size: 10px;
  color: #888;
}
