.list-container {
  display: flex;
  flex-direction:   column;
  justify-content:  flex-start;
  align-items:      stretch;
  width: 100%;
}

.project-container {
  display: flex;
  flex-direction:   row;
  justify-content:  space-between;
  align-items:      center;
  width: 100%;
  margin-bottom: 10px;
}

.image-area {
  width: 60px;
}
.button-area {
  width: 30px;
}
.image-area-joined {
  width: 90px;
}
.button-area-joined {
  width: 60px;
}
.icon-owner {
  width: 22px;
  height: 22px;
}
.image-project {
  width: 60px;
}
.icon-image-area {
  width: 22px;
  height: 22px;
  margin-left: auto;
}
.row {
  margin: 0 10px 0 10px;
  flex: 1;
}
.row-2 {
  margin: 0 10px 0 10px;
  flex: 2;
}
.row-3 {
  margin: 0 10px 0 10px;
  flex: 3;
}
img { max-width: 100% }

.flex-create-project {
  display: flex;
  flex-direction:   row;
  justify-content:  flex-end;
  align-items:      stretch;
}

#create-project {
  width: 90px;
  height: 90px;
  margin-left: auto;
}
